<section>
  <h1>Mes comptes bancaires</h1>

  <div class="overflow-x-auto">
    <table class="table table-zebra w-full">
      <!-- En-tête du tableau -->
      <thead>
        <tr>
          <th>ID</th>
          <th>Numéro de compte</th>
          <th>Type de compte</th>
          <th>Solde</th>
          <th>Dernière transaction</th>
          <th>Effectuer un dépôt / retrait</th>
        </tr>
      </thead>
      <!-- Corps du tableau -->
      <tbody>

        @for(account of accounts ; track account.id){
        <tr>
          <td>{{account.id}}</td>
          <td>{{account.accountNumber}}</td>
          <td>{{account.accountType}}</td>
          <td>{{account.solde | currency:'EUR':'symbol':'1.2-2'}}</td>
          <td>{{account.lastTransactionDate | date:'d MMMM yyyy'}}</td>
          <td>
            @if(account.id){
            <button (click)="handleDelete(account.id)" class="btn btn-error">Supprimer</button>
            <button (click)="handleOpenFormUpdate(account)" class="ml-2 btn btn-warning">Modifier</button>
            }
          </td>
        </tr>
        }
      </tbody>
    </table>

    @if(displayUpdateForm && accountUpdate){
    <h2>Modification d'un compte</h2>
    <app-account-update-form [accountUpdate]="accountUpdate" />
    }


    <h2>Création d'un compte</h2>
    <button (click)="handleCreate()" class="btn btn-primary">Ajouter un nouveau compte</button>
    @if(displayCreateForm){
    <app-account-create-form (accountCreated)="handleCreateNewAccount($event)" />
    }





  </div>

</section>