<header class="shadow-sm bg-base-content text-base-100">
  <div class="container mx-auto">
    <nav class="navbar" aria-label="Navigation principale">
      <div class="navbar-start ml-5">
        <a class="text-xl font-semibold mr-5 hover:underline" routerLinkActive="underline"
          [routerLinkActiveOptions]="{exact: true}" routerLink="">Accueil</a>
        <a class="text-xl font-semibold mr-5 hover:underline" routerLinkActive="underline"
          routerLink="/news">Actualités</a>
        <a class="text-xl font-semibold mr-5 hover:underline" routerLinkActive="underline"
          routerLink="/compte-bancaire">Comptes bancaire</a>
        <a class="text-xl font-semibold mr-5 hover:underline" routerLinkActive="underline" routerLink="/signals">Les
          signaux</a>
      </div>
      <div class="navbar-center">
        <!-- Contenu central si nécessaire -->
      </div>
      <div class="navbar-end mr-5">
        <a class="text-xl font-semibold hover:underline focus:outline-none">Se connecter</a>
      </div>
    </nav>
  </div>
</header>