<section>
  <h1>Mes actualité</h1>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    @for(n of news ; track n.id){
    <app-news-card [news]="n" />
    }
  </div>

  <a routerLinkActive="active btn-secondary" routerLink="description" class="btn">Description</a>
  <a routerLinkActive="active btn-secondary" routerLink="ajouter" class="btn">Ajouter une nouvelle actu</a>
  <a routerLinkActive="active btn-secondary" routerLink="supprimer" class="btn">Supprimer une actu</a>

  <h2>Composant des routes enfants</h2>
  <!-- Angular injecte le composant lié à notre route enfant à la place du 'router-outlet' -->
  <router-outlet />

</section>